.accordion {
    color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    cursor: pointer;
    padding: 16px 32px 17px 32px;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.container {
    margin: 32px 8px;
    box-shadow: 0 4px 22px 0 #0000001F;
    border-radius: 8px;
    padding: 16px 0;
}
.accordion.active svg{
    transition: 0.4s;
    transform: rotate(-180deg);
}
h1 {
    font-size: 16px;
    margin: 0;
}
ul{
    padding-inline-start: 12px;
    list-style-image:url(1.svg);

}
ul li {
    margin: 8px 0;
    color: black;
    line-height: 24px;
}
ul li span{
    padding-left: 8px;
}

.accordion.active{
    color: #2B41B7;
}
.accordion.active svg path{
    stroke: #2B41B7;
}

.panel {
    padding: 0 34px;
    max-height: 0;
    background-color: #FAF8F6;
    color: #2B41B7;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel p {

    font-weight: 800;
}
.panel h1 {
    font-weight: 800;
}